tensorflow>=2.4.0
pandas>=0.25.0
# Install tensorflow compatable version of numpy
numpy~=1.19.2
seqeval>=0.0.12
fastprogress>=0.2.2
# See https://github.com/intel/dffml/issues/844
transformers>=3.0.2,<3.1.0
torch>=1.5.0
